{% extends 'DMCAdminBundle::bundleLayout.html.twig' %}

{% block content %}    

    <h3>ApiClients</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_apiclient_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-small btn-primary" href="{{ path('admin_apiclient_show', { 'id': entity.id }) }}">
                            <i class="icon-eye-open icon-white"></i> Details
                        </a>
                        <a class="btn btn-small btn-warning" href="{{ path('admin_apiclient_edit', { 'id': entity.id }) }}">
                            <i class="icon-edit icon-white"></i> Edit
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a class="btn btn-primary" href="{{ path('admin_apiclient_new') }}">
        Create a new entry
    </a>

{% endblock %}
